# 1. 데이터 읽기

In [1]:
import os
import glob 
import pandas as pd
import numpy as np

## 1.1 시군구_시간대별_날씨_배달 데이터

예측모델에서 사용하기 위하여 만들어둔 시군구 시간대별 날씨-배달데이터에 요일과 공휴일 정보를 붙인다. 아래의 시군구 시간대별 날씨-배달데이터는 빠진 날짜와 시간대 없도록 배달건수를 0으로 채웠다.

In [36]:
df = pd.read_csv('/content/drive/MyDrive/시군구_시간대별_날씨_평균배달.csv',parse_dates=['날짜'])
df

         광역시도  시군구         날짜  시간대  배달건수 강수형태      강수         기온
0         강원도  강릉시 2019-08-01    0     0   없음   0.000  30.900000
1         강원도  강릉시 2019-08-01    1     0   없음   0.000  32.099998
2         강원도  강릉시 2019-08-01    2     0   없음   0.000  32.099998
3         강원도  강릉시 2019-08-01    3     0   없음   0.000  34.099998
4         강원도  강릉시 2019-08-01    4     0   없음   0.000  34.099998
...       ...  ...        ...  ...   ...  ...     ...        ...
2834635  충청북도  충주시 2021-08-31   19     0    비  13.100  20.400000
2834636  충청북도  충주시 2021-08-31   20     0    비  21.000  19.875000
2834637  충청북도  충주시 2021-08-31   21     0    비  11.300  19.724999
2834638  충청북도  충주시 2021-08-31   22     0    비  15.950  19.749999
2834639  충청북도  충주시 2021-08-31   23     0    비  13.775  20.074999

[2834640 rows x 8 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2834640 entries, 0 to 2834639
Data columns (total 8 columns):
 #   Column  Dtype
---  ------  -----
 0   광역시도    object
 1   시군구     object
 2   날짜      datetime64[ns]
 3   시간대     int64
 4   배달건수    int64
 5   강수형태    object
 6   강수      float64
 7   기온      float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 173.0+ MB

강수형태와 강수, 기온은 셋중 어느 하나가 NaN이면 모두 NaN이다.

In [20]:
print(len(df[df['강수'].isna()]))
print(len(df[df['강수형태'].isna()]))
len(df[df['기온'].isna()])

11856
11856

11856

강수량과 기온은 반올림한 후 int로 바꾸었다.

In [37]:
df['강수'] = df['강수'].round().astype('Int64')
df['기온'] = df['기온'].round().astype('Int64')
df

         광역시도  시군구         날짜  시간대  배달건수 강수형태  강수  기온
0         강원도  강릉시 2019-08-01    0     0   없음   0  31
1         강원도  강릉시 2019-08-01    1     0   없음   0  32
2         강원도  강릉시 2019-08-01    2     0   없음   0  32
3         강원도  강릉시 2019-08-01    3     0   없음   0  34
4         강원도  강릉시 2019-08-01    4     0   없음   0  34
...       ...  ...        ...  ...   ...  ...  ..  ..
2834635  충청북도  충주시 2021-08-31   19     0    비  13  20
2834636  충청북도  충주시 2021-08-31   20     0    비  21  20
2834637  충청북도  충주시 2021-08-31   21     0    비  11  20
2834638  충청북도  충주시 2021-08-31   22     0    비  16  20
2834639  충청북도  충주시 2021-08-31   23     0    비  14  20

[2834640 rows x 8 columns]

In [41]:
df[df['강수'].isna()]

         광역시도  시군구         날짜  시간대  배달건수 강수형태    강수    기온
41        강원도  강릉시 2019-08-02   17     0  NaN  <NA>  <NA>
191       강원도  강릉시 2019-08-08   23     0  NaN  <NA>  <NA>
861       강원도  강릉시 2019-09-05   21     0  NaN  <NA>  <NA>
1389      강원도  강릉시 2019-09-27   21     0  NaN  <NA>  <NA>
2604      강원도  강릉시 2019-11-17   12     1  NaN  <NA>  <NA>
...       ...  ...        ...  ...   ...  ...   ...   ...
2832680  충청북도  충주시 2021-06-11    8     0  NaN  <NA>  <NA>
2832870  충청북도  충주시 2021-06-19    6     0  NaN  <NA>  <NA>
2833184  충청북도  충주시 2021-07-02    8     0  NaN  <NA>  <NA>
2833422  충청북도  충주시 2021-07-12    6     0  NaN  <NA>  <NA>
2834116  충청북도  충주시 2021-08-10    4     0  NaN  <NA>  <NA>

[11856 rows x 8 columns]

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2834640 entries, 0 to 2834639
Data columns (total 8 columns):
 #   Column  Dtype
---  ------  -----
 0   광역시도    object
 1   시군구     object
 2   날짜      datetime64[ns]
 3   시간대     int64
 4   배달건수    int64
 5   강수형태    object
 6   강수      float64
 7   기온      float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 173.0+ MB

In [ ]:
df[df['광역시도']=='세종특별자치시']

            광역시도 시군구         날짜  시간대  배달건수 강수형태  강수  기온
2157984  세종특별자치시  \N 2019-08-01    0     0   없음   0  29
2157985  세종특별자치시  \N 2019-08-01    1     0   없음   0  30
2157986  세종특별자치시  \N 2019-08-01    2     0   없음   0  31
2157987  세종특별자치시  \N 2019-08-01    3     0   없음   0  31
2157988  세종특별자치시  \N 2019-08-01    4     0   없음   0  32
...          ...  ..        ...  ...   ...  ...  ..  ..
2176267  세종특별자치시  \N 2021-08-31   19     0    비   5  23
2176268  세종특별자치시  \N 2021-08-31   20     0    비  22  23
2176269  세종특별자치시  \N 2021-08-31   21     0    비  22  23
2176270  세종특별자치시  \N 2021-08-31   22     0   없음   0  24
2176271  세종특별자치시  \N 2021-08-31   23     0   없음   0  24

[18288 rows x 8 columns]

## 1.2 날짜별 공휴일 정보 데이터

In [42]:
df_mapping = pd.read_csv('/content/drive/MyDrive/holiday.csv',parse_dates=['date'])
df_mapping.drop(['Unnamed: 0', 'holiday'], axis=1,inplace=True)
df_mapping

         date     day_name
0  2019-01-01         1월1일
1  2019-02-04           설날
2  2019-02-05           설날
3  2019-02-06           설날
4  2019-03-01          삼일절
5  2019-05-05         어린이날
6  2019-05-06        대체공휴일
7  2019-05-12       부처님오신날
8  2019-06-06          현충일
9  2019-08-15          광복절
10 2019-09-12           추석
11 2019-09-13           추석
12 2019-09-14           추석
13 2019-10-03          개천절
14 2019-10-09          한글날
15 2019-12-25        기독탄신일
16 2020-01-01         1월1일
17 2020-01-24           설날
18 2020-01-25           설날
19 2020-01-26           설날
20 2020-01-27           설날
21 2020-03-01          삼일절
22 2020-04-15  제21대 국회의원선거
23 2020-04-30       부처님오신날
24 2020-05-05         어린이날
25 2020-06-06          현충일
26 2020-08-15          광복절
27 2020-08-17        임시공휴일
28 2020-09-30           추석
29 2020-10-01           추석
30 2020-10-02           추석
31 2020-10-03          개천절
32 2020-10-09          한글날
33 2020-12-25        기독탄신일
34 2021-01-01         1월1일
35 2021-02-11           설날
36 2021-02-12           설날
37 2021-02-13           설날
38 2021-03-01          삼일절
39 2021-05-05         어린이날
40 2021-05-19       부처님오신날
41 2021-06-06          현충일
42 2021-08-15          광복절
43 2021-08-16        대체공휴일
44 2021-09-20           추석
45 2021-09-21           추석
46 2021-09-22           추석
47 2021-10-03          개천절
48 2021-10-04        대체공휴일
49 2021-10-09          한글날
50 2021-10-11        대체공휴일
51 2021-12-25        기독탄신일

In [43]:
df_mapping.rename(columns = {'date' :'날짜'},inplace=True)
df_mapping

           날짜     day_name
0  2019-01-01         1월1일
1  2019-02-04           설날
2  2019-02-05           설날
3  2019-02-06           설날
4  2019-03-01          삼일절
5  2019-05-05         어린이날
6  2019-05-06        대체공휴일
7  2019-05-12       부처님오신날
8  2019-06-06          현충일
9  2019-08-15          광복절
10 2019-09-12           추석
11 2019-09-13           추석
12 2019-09-14           추석
13 2019-10-03          개천절
14 2019-10-09          한글날
15 2019-12-25        기독탄신일
16 2020-01-01         1월1일
17 2020-01-24           설날
18 2020-01-25           설날
19 2020-01-26           설날
20 2020-01-27           설날
21 2020-03-01          삼일절
22 2020-04-15  제21대 국회의원선거
23 2020-04-30       부처님오신날
24 2020-05-05         어린이날
25 2020-06-06          현충일
26 2020-08-15          광복절
27 2020-08-17        임시공휴일
28 2020-09-30           추석
29 2020-10-01           추석
30 2020-10-02           추석
31 2020-10-03          개천절
32 2020-10-09          한글날
33 2020-12-25        기독탄신일
34 2021-01-01         1월1일
35 2021-02-11           설날
36 2021-02-12           설날
37 2021-02-13           설날
38 2021-03-01          삼일절
39 2021-05-05         어린이날
40 2021-05-19       부처님오신날
41 2021-06-06          현충일
42 2021-08-15          광복절
43 2021-08-16        대체공휴일
44 2021-09-20           추석
45 2021-09-21           추석
46 2021-09-22           추석
47 2021-10-03          개천절
48 2021-10-04        대체공휴일
49 2021-10-09          한글날
50 2021-10-11        대체공휴일
51 2021-12-25        기독탄신일

In [44]:
day_mapping = df_mapping.set_index('날짜')
day_mapping

               day_name
날짜
2019-01-01         1월1일
2019-02-04           설날
2019-02-05           설날
2019-02-06           설날
2019-03-01          삼일절
2019-05-05         어린이날
2019-05-06        대체공휴일
2019-05-12       부처님오신날
2019-06-06          현충일
2019-08-15          광복절
2019-09-12           추석
2019-09-13           추석
2019-09-14           추석
2019-10-03          개천절
2019-10-09          한글날
2019-12-25        기독탄신일
2020-01-01         1월1일
2020-01-24           설날
2020-01-25           설날
2020-01-26           설날
2020-01-27           설날
2020-03-01          삼일절
2020-04-15  제21대 국회의원선거
2020-04-30       부처님오신날
2020-05-05         어린이날
2020-06-06          현충일
2020-08-15          광복절
2020-08-17        임시공휴일
2020-09-30           추석
2020-10-01           추석
2020-10-02           추석
2020-10-03          개천절
2020-10-09          한글날
2020-12-25        기독탄신일
2021-01-01         1월1일
2021-02-11           설날
2021-02-12           설날
2021-02-13           설날
2021-03-01          삼일절
2021-05-05         어린이날
2021-05-19       부처님오신날
2021-06-06          현충일
2021-08-15          광복절
2021-08-16        대체공휴일
2021-09-20           추석
2021-09-21           추석
2021-09-22           추석
2021-10-03          개천절
2021-10-04        대체공휴일
2021-10-09          한글날
2021-10-11        대체공휴일
2021-12-25        기독탄신일

### 날짜 공휴일 mapping

In [45]:
df['day_name'] = df['날짜'].map(day_mapping['day_name'])
df

         광역시도  시군구         날짜  시간대  배달건수 강수형태  강수  기온 day_name
0         강원도  강릉시 2019-08-01    0     0   없음   0  31      NaN
1         강원도  강릉시 2019-08-01    1     0   없음   0  32      NaN
2         강원도  강릉시 2019-08-01    2     0   없음   0  32      NaN
3         강원도  강릉시 2019-08-01    3     0   없음   0  34      NaN
4         강원도  강릉시 2019-08-01    4     0   없음   0  34      NaN
...       ...  ...        ...  ...   ...  ...  ..  ..      ...
2834635  충청북도  충주시 2021-08-31   19     0    비  13  20      NaN
2834636  충청북도  충주시 2021-08-31   20     0    비  21  20      NaN
2834637  충청북도  충주시 2021-08-31   21     0    비  11  20      NaN
2834638  충청북도  충주시 2021-08-31   22     0    비  16  20      NaN
2834639  충청북도  충주시 2021-08-31   23     0    비  14  20      NaN

[2834640 rows x 9 columns]

In [46]:
df[df['day_name'].notna()]

         광역시도  시군구         날짜  시간대  배달건수 강수형태  강수  기온 day_name
336       강원도  강릉시 2019-08-15    0     0    비   6  24      광복절
337       강원도  강릉시 2019-08-15    1     0    비  10  24      광복절
338       강원도  강릉시 2019-08-15    2     0   없음   0  26      광복절
339       강원도  강릉시 2019-08-15    3     0    비   9  25      광복절
340       강원도  강릉시 2019-08-15    4     0    비   9  26      광복절
...       ...  ...        ...  ...   ...  ...  ..  ..      ...
2834275  충청북도  충주시 2021-08-16   19     0   없음   0  20    대체공휴일
2834276  충청북도  충주시 2021-08-16   20     0   없음   0  20    대체공휴일
2834277  충청북도  충주시 2021-08-16   21     0   없음   0  21    대체공휴일
2834278  충청북도  충주시 2021-08-16   22     0   없음   0  23    대체공휴일
2834279  충청북도  충주시 2021-08-16   23     0   없음   0  24    대체공휴일

[130200 rows x 9 columns]

## 1.3 날짜별 요일 정보 데이터

In [47]:
monday = pd.read_csv('/content/drive/MyDrive/freq_with_holiday.csv', parse_dates=['날짜'])
monday

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         Unnamed: 0         날짜  시간대  광역시도  ... 배달건수 요일  day_name holiday
0                 0 2019-08-01    0   강원도  ...    1  목       NaN     NaN
1                 1 2019-08-01    0   경기도  ...    4  목       NaN     NaN
2                 2 2019-08-01    0   경기도  ...   28  목       NaN     NaN
3                 3 2019-08-01    0   경기도  ...    3  목       NaN     NaN
4                 4 2019-08-01    0   경기도  ...    4  목       NaN     NaN
...             ...        ...  ...   ...  ...  ... ..       ...     ...
2382976     2382976 2021-08-31   23  충청남도  ...    6  화       NaN     NaN
2382977     2382977 2021-08-31   23  충청북도  ...    6  화       NaN     NaN
2382978     2382978 2021-08-31   23  충청북도  ...    2  화       NaN     NaN
2382979     2382979 2021-08-31   23  충청북도  ...    1  화       NaN     NaN
2382980     2382980 2021-08-31   23  충청북도  ...    4  화       NaN     NaN

[2382981 rows x 10 columns]

In [48]:
monday.drop(['Unnamed: 0', 'holiday','배달건수','읍면동','day_name','시간대','광역시도','시군구'], axis=1,inplace=True)
monday

                날짜 요일
0       2019-08-01  목
1       2019-08-01  목
2       2019-08-01  목
3       2019-08-01  목
4       2019-08-01  목
...            ... ..
2382976 2021-08-31  화
2382977 2021-08-31  화
2382978 2021-08-31  화
2382979 2021-08-31  화
2382980 2021-08-31  화

[2382981 rows x 2 columns]

In [49]:
day_sample = monday.groupby(['날짜','요일']).count().reset_index()
day_sample

            날짜 요일
0   2019-08-01  목
1   2019-08-02  금
2   2019-08-03  토
3   2019-08-04  일
4   2019-08-05  월
..         ... ..
749 2021-08-27  금
750 2021-08-28  토
751 2021-08-29  일
752 2021-08-30  월
753 2021-08-31  화

[754 rows x 2 columns]

요일정보는 빠진 날짜를 복원하지 않았던 기존의 배달데이터를 기준으로 만들었기 때문에 배달데이터가 존재하지 않는 날은 요일 정보도 없다. 아래의 8개의 날짜를 추가로 넣어주었다.
* 빠진 날짜 찾는 법 : day_sample과 df를 mapping한 뒤 날짜가 nan인 날짜에 unique()취하면 찾을 수 있다.

In [50]:
missing = [('2020-05-18', '화'),
('2021-03-27', '토'),
('2021-03-28', '일'),
('2021-03-29', '월'),
('2021-03-30', '화'),
('2021-03-31', '수'),
('2021-07-20', '화'),
('2021-07-21', '수')]

missing_day = pd.DataFrame(missing, columns = ['날짜',	'요일'])
missing_day['날짜'] = pd.to_datetime(missing_day['날짜'], format='%Y-%m-%d')
missing_day

          날짜 요일
0 2020-05-18  화
1 2021-03-27  토
2 2021-03-28  일
3 2021-03-29  월
4 2021-03-30  화
5 2021-03-31  수
6 2021-07-20  화
7 2021-07-21  수

In [ ]:
day_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 754 entries, 0 to 753
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      754 non-null    datetime64[ns]
 1   요일      754 non-null    object
dtypes: datetime64[ns](1), object(1)
memory usage: 11.9+ KB

In [ ]:
missing_day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      8 non-null      datetime64[ns]
 1   요일      8 non-null      object
dtypes: datetime64[ns](1), object(1)
memory usage: 256.0+ bytes

In [51]:
full_day_sample = pd.concat([day_sample,missing_day],ignore_index=True)
full_day_sample = full_day_sample.set_index('날짜')
full_day_sample

           요일
날짜
2019-08-01  목
2019-08-02  금
2019-08-03  토
2019-08-04  일
2019-08-05  월
...        ..
2021-03-29  월
2021-03-30  화
2021-03-31  수
2021-07-20  화
2021-07-21  수

[762 rows x 1 columns]

### 날짜 요일 mapping

In [52]:
test = df.copy()
test

         광역시도  시군구         날짜  시간대  배달건수 강수형태  강수  기온 day_name
0         강원도  강릉시 2019-08-01    0     0   없음   0  31      NaN
1         강원도  강릉시 2019-08-01    1     0   없음   0  32      NaN
2         강원도  강릉시 2019-08-01    2     0   없음   0  32      NaN
3         강원도  강릉시 2019-08-01    3     0   없음   0  34      NaN
4         강원도  강릉시 2019-08-01    4     0   없음   0  34      NaN
...       ...  ...        ...  ...   ...  ...  ..  ..      ...
2834635  충청북도  충주시 2021-08-31   19     0    비  13  20      NaN
2834636  충청북도  충주시 2021-08-31   20     0    비  21  20      NaN
2834637  충청북도  충주시 2021-08-31   21     0    비  11  20      NaN
2834638  충청북도  충주시 2021-08-31   22     0    비  16  20      NaN
2834639  충청북도  충주시 2021-08-31   23     0    비  14  20      NaN

[2834640 rows x 9 columns]

In [53]:
test['요일'] = test['날짜'].map(full_day_sample['요일'])
test

         광역시도  시군구         날짜  시간대  배달건수 강수형태  강수  기온 day_name 요일
0         강원도  강릉시 2019-08-01    0     0   없음   0  31      NaN  목
1         강원도  강릉시 2019-08-01    1     0   없음   0  32      NaN  목
2         강원도  강릉시 2019-08-01    2     0   없음   0  32      NaN  목
3         강원도  강릉시 2019-08-01    3     0   없음   0  34      NaN  목
4         강원도  강릉시 2019-08-01    4     0   없음   0  34      NaN  목
...       ...  ...        ...  ...   ...  ...  ..  ..      ... ..
2834635  충청북도  충주시 2021-08-31   19     0    비  13  20      NaN  화
2834636  충청북도  충주시 2021-08-31   20     0    비  21  20      NaN  화
2834637  충청북도  충주시 2021-08-31   21     0    비  11  20      NaN  화
2834638  충청북도  충주시 2021-08-31   22     0    비  16  20      NaN  화
2834639  충청북도  충주시 2021-08-31   23     0    비  14  20      NaN  화

[2834640 rows x 10 columns]

In [54]:
test[test['요일'].isna()]

Empty DataFrame
Columns: [광역시도, 시군구, 날짜, 시간대, 배달건수, 강수형태, 강수, 기온, day_name, 요일]
Index: []

In [55]:
test.rename(columns={'day_name':'holiday_name'},inplace=True)
test

         광역시도  시군구         날짜  시간대  배달건수 강수형태  강수  기온 holiday_name 요일
0         강원도  강릉시 2019-08-01    0     0   없음   0  31          NaN  목
1         강원도  강릉시 2019-08-01    1     0   없음   0  32          NaN  목
2         강원도  강릉시 2019-08-01    2     0   없음   0  32          NaN  목
3         강원도  강릉시 2019-08-01    3     0   없음   0  34          NaN  목
4         강원도  강릉시 2019-08-01    4     0   없음   0  34          NaN  목
...       ...  ...        ...  ...   ...  ...  ..  ..          ... ..
2834635  충청북도  충주시 2021-08-31   19     0    비  13  20          NaN  화
2834636  충청북도  충주시 2021-08-31   20     0    비  21  20          NaN  화
2834637  충청북도  충주시 2021-08-31   21     0    비  11  20          NaN  화
2834638  충청북도  충주시 2021-08-31   22     0    비  16  20          NaN  화
2834639  충청북도  충주시 2021-08-31   23     0    비  14  20          NaN  화

[2834640 rows x 10 columns]

In [57]:
test['강수형태'].unique()

array(['없음', nan, '비', '비/눈', '눈', '소나기'], dtype=object)

In [56]:
test.to_csv('/content/drive/MyDrive/시군구_시간대별_날씨_요일.csv',index=False, encoding="utf-8-sig")